<div *ngIf="messageService.messages.length" class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative py-20 ">
  <h1 class="text-3xl text-center font-bold text-blue-500">Messages</h1>
  <button type="button" class="clear" (click)="messageService.clear()"
    class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium">
    Clear messages
  </button>
  <div class="border-l-2 mt-10">
    <!-- Card 1 -->
    <div *ngFor='let message of messageService.messages; let i = index;'
      class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-blue-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
      <!-- Dot Follwing the Left Vertical Line -->
      <div class="w-5 h-5 bg-blue-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0">
      </div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg">{{i}}</h1>
        <h1 class="text-xl font-bold">{{message.text}}</h1>
        <h3>{{message.date | date:'medium'}}</h3>
      </div>

    </div>
  </div>
</div>
