<div class="sm:flex sm:mt-8 p-4">
  <div class="indent-1 flex flex-col md:flex-row justify-between gap-4">
    <div class="flex flex-col">
      <p class="indent-1">ipsum dolor sit amet consectetur adipisicing elit. Optio possimus amet dolorum suscipit
        numquam esse quo
        sunt, et quasi nobis modi consectetur provident ea itaque? Et numquam aliquid saepe itaque!</p>
      <p class="indent-1">Non consequuntur ex officiis pariatur. Voluptates facere hic amet, laborum temporibus rem quaerat
        maiores
        nulla
        voluptate veniam? Quam facilis amet quaerat quos officia, modi quo praesentium numquam voluptas voluptatibus
        omnis.
      </p>
      <p class="indent-1">Voluptas voluptatem nam debitis soluta quos deserunt possimus nemo dolorum, ducimus laboriosam
        amet.
        Eveniet
        architecto placeat nesciunt labore, porro, praesentium illo dolorum quod molestias dolores modi, cupiditate
        facilis
        omnis maiores.</p>
      <p class="indent-1">Quidem asperiores consequatur, doloribus debitis alias perspiciatis voluptatibus temporibus
        dignissimos quas
        labore
        harum voluptates cum expedita ea, fuga exercitationem pariatur quo dolorum? Dolorem nobis assumenda corporis
        possimus eligendi accusantium vitae!</p>
      <p class="indent-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio possimus amet dolorum suscipit
        numquam esse
        quo
        sunt,
        et quasi nobis modi consectetur provident ea itaque? Et numquam aliquid saepe itaque!</p>

    </div>
    <div class="flex flex-col">
      <p class="indent-1">Non consequuntur ex officiis pariatur. Voluptates facere hic amet, laborum temporibus rem quaerat
        maiores
        nulla
        voluptate veniam? Quam facilis amet quaerat quos officia, modi quo praesentium numquam voluptas voluptatibus
        omnis.
      </p>
      <p class="indent-1">Voluptas voluptatem nam debitis soluta quos deserunt possimus nemo dolorum, ducimus laboriosam
        amet.
        Eveniet
        architecto placeat nesciunt labore, porro, praesentium illo dolorum quod molestias dolores modi, cupiditate
        facilis
        omnis maiores.</p>
      <p class="indent-1">Quidem asperiores consequatur, doloribus debitis alias perspiciatis voluptatibus temporibus
        dignissimos quas
        labore
        harum voluptates cum expedita ea, fuga exercitationem pariatur quo dolorum? Dolorem nobis assumenda corporis
        possimus
        eligendi accusantium vitae!</p>
    </div>
  </div>

</div>
